.overlay {
  height: 100vh;
  position: fixed;
  top: 7rem;
  right: 1rem;
  background-color: #1f346df1;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 0 4px 5px rgba(190, 190, 190, 0.15);
  padding: 15px;
  z-index: 1000;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
}

.container {
  padding: 0;
}

.favoritesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.favoriteItem {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  color: white;
}

.favoriteItem:last-child {
  border-bottom: none;
}

.emptyMessage {
  text-align: center;
  padding: 20px;
  color: #e6e6e6;
}