@import 'bootstrap';
@import 'bootstrap-icons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem;
  background-color: rgb(31, 52, 109);
  text-align: center;

  .logo_link {
    font-family: 'Bungee Shade', system-ui;
  }
}